<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">Assemble books</a>
  </div>
</nav>

<div class="container">
  <h1 class="my-3">Books</h1>
  <app-books></app-books>
</div>

<footer>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">


      <a class="navbar-brand mr-3 align-top" href="/">Assemble books</a>


      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <ul class="links">
          <li>
            <a href="#">Link</a>
          </li>

          <li>
            <a href="#">Link</a>
          </li>

          <li>
            <a href="#">Link</a>
          </li>

        </ul>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <ul class="links">
          <li>
            <a href="#">Link</a>
          </li>

          <li>
            <a href="#">Link</a>
          </li>

          <li>
            <a href="#">Link</a>
          </li>

        </ul>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <ul class="links">
          <li>
            <a href="#">Link</a>
          </li>

          <li>
            <a href="#">Link</a>
          </li>

          <li>
            <a href="#">Link</a>
          </li>

        </ul>
      </div>


    </div>
  </nav>
</footer>